<app-text-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.TEXT"
/>
<app-autocomplete
  open
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.AUTOCOMPLETE"
/>
<app-date-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.DATE"
/>
<app-photo-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.PHOTO"
/>
<app-drawing-pad-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.DRAWING_PAD"
/>
<app-text-area-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.TEXTAREA"
/>
<app-number-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.NUMBER"
/>
<app-percentage-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.PERCENTAGE"
/>
<app-month-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.MONTH"
/>
<app-email-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.EMAIL"
/>
<app-money-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.MONEY"
/>
<app-phone-data-type
  [disabled]="disabled"
  [question]="question"
  [formGroup]="formGroup"
  *ngIf="getDataType() === dataType.PHONE"
/>
