<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ getCategory() }}</ion-card-subtitle>
    <ion-card-title>
      <ion-text color="medium">{{ getOrder() }}. </ion-text
      >{{ getText() }}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <app-open
      [disabled]="disabled"
      [question]="question"
      [formGroup]="formGroup"
      *ngIf="getType() === 'Abierta'"
    />
    <app-autocomplete
      [disabled]="disabled"
      [question]="question"
      [formGroup]="formGroup"
      *ngIf="getType() === 'Autocomplete'"
    />
    <app-multiple
      [disabled]="disabled"
      [question]="question"
      [formGroup]="formGroup"
      *ngIf="
        getType() === 'Múltiple respuesta' ||
        getType() === 'Múltiple respuesta con otro'
      "
    />
    <app-unique
      [disabled]="disabled"
      [question]="question"
      [formGroup]="formGroup"
      *ngIf="
        getType() === 'Única respuesta' ||
        getType() === 'Única respuesta con otro' ||
        getType() === 'Única respuesta con select'
      "
    />
  </ion-card-content>
</ion-card>
