<ion-header>
  <ion-toolbar>
    <ion-img src="assets/imgs/logo_PiF_main.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon class="cloud-icon" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Test</h1>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="forms">
        <ion-icon aria-hidden="true" name="document-text"></ion-icon>
        <ion-label>Formularios</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon aria-hidden="true" name="albums"></ion-icon>
        <ion-label>Borradores</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon aria-hidden="true" name="newspaper"></ion-icon>
        <ion-label>Encuestas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
