<div class="container">
  <ion-card center>
    <img center alt="PIF Logo" width="100%" src="assets/imgs/logo_PIF.png" />
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <ion-item lines="none">
          <ion-icon name="mail" color="primary" slot="start"></ion-icon>
          <ion-input label="Correo" labelPlacement="floating" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
          <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="sumbit" shape="round" class="login-button" size="default" color="primary" routerLink="/home">
            Iniciar Sesión
            <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
      <div class="bottom-info center">
        <p>
          <img src="assets/imgs/dq-login.jpg" width="100px"/>
          <br/>
          Desarrollado por Blaucast<sup>®</sup>
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</div>
