<ion-list [inset]="true">
  <ion-item button (click)="openModal()" [disabled]="disabled" detail id="select-item" lines="full">
    <ion-label slot="start" *ngIf="!selection">{{ title }}</ion-label>
    <div slot="start" *ngIf="selection">{{ selection }}</div>
  </ion-item>
</ion-list>

<ion-modal #modal>
  <ng-template>
    <app-typeahead
      class="ion-page"
      [items]="data"
      [selectedItem]="selection"
      [title]="title"
      (selectionChange)="selectionChanged($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>
