<ion-list [inset]="true">
  <ion-item button detail id="select-item" lines="full">
    <ion-label slot="start" *ngIf="!selection">Selecciona uno</ion-label>
    <div slot="start" id="selected-item" *ngIf="selection">{{ selection }}</div>
  </ion-item>
</ion-list>

<ion-modal trigger="select-item" #modal>
  <ng-template>
    <app-typeahead
      class="ion-page"
      [items]="data"
      [selectedItem]="selection"
      (selectionChange)="selectionChanged($event)"
      (selectionCancel)="modal.dismiss()"
    ></app-typeahead>
  </ng-template>
</ion-modal>
