<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ getCategory() }}</ion-card-subtitle>
      <ion-card-title>{{ getText() }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group [multiple]="true" [value]="0">
        <ion-accordion
          *ngFor="let questionsSection of getQuestionChildren(); index as i"
          [value]="i"
        >
          <ion-item slot="header" color="light">
            <ion-label>Sección {{ i + 1 }}</ion-label>
          </ion-item>
          <ng-container *ngFor="let questionChild of questionsSection">
            <app-type
              [disabled]="disabled"
              *ngIf="showQuestion(questionChild, i)"
              [formGroup]="getFormGroup(i)"
              [question]="questionChild"
              slot="content"
            ></app-type>
          </ng-container>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  <ion-fab
    [hidden]="question.extends === 0"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    size="small"
  >
    <ion-fab-button>
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addSection()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="removeSection()">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
