ion-img {
  width: 60%;
}

#home-header {
  ion-toolbar {
    --background: url('../../../assets/imgs/header-inner.jpg');
    display: flex;
    align-content: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header-icon {
  color: white;
}

ion-modal {
  .modal-content {
    --height: 10px;
  }
}

