ion-img {
  width: 192px;
}

ion-toolbar {
  padding: 10px 10px 0px 10px;
  --background: url('../../../assets/imgs/header-inner-2.jpg');
  --background-size: cover;
}

.cloud-icon {
  font-size: 25px;
}

