<ion-list *ngIf="question.type === 'Múltiple respuesta'">
  <ion-item *ngFor="let answer of getAnswers()">
    <ion-checkbox
      [disabled]="disabled"
      value="answer.id"
      (ionChange)="checkAnswer($event, answer.id)"
      [checked]="isChecked(answer)"
      labelPlacement="end"
      justify="start"
    >
      <ion-text class="ion-text-wrap">
        {{ answer.value }}
      </ion-text>
    </ion-checkbox>
  </ion-item>
</ion-list>

<ion-list *ngIf="question.type === 'Múltiple respuesta con otro'">
  <ion-item *ngFor="let answer of getAnswers(); last as isLast">
    <ion-checkbox
      [disabled]="disabled"
      value="answer.id"
      (ionChange)="checkAnswer($event, answer.id)"
      [checked]="isChecked(answer)"
      labelPlacement="end"
      justify="start"
    >
      <ion-text class="ion-text-wrap">
        {{ isLast ? answer.value.split(":")[0] : answer.value }}
      </ion-text>
    </ion-checkbox>
  </ion-item>
  <ion-item *ngIf="other">
    <ion-input
      [disabled]="disabled"
      [value]="getTextValue()"
      (ionChange)="setTextValue($event)"
      placeholder="Ingrese aquí"
    />
    <ion-icon name="text-outline" slot="start" />
  </ion-item>
</ion-list>
