<app-dataquest-header progressBar></app-dataquest-header>
<ion-content class="ion-padding">

  <app-type [question]="currentQuestion" *ngIf="getType() !== 'Tabla'"></app-type>
  <app-table [base]="getTableQuestions()" *ngIf="getType() === 'Tabla'"></app-table>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousQuestion()">Anterior</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nextQuestion()">Siguiente</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
