<app-dataquest-header progressBar></app-dataquest-header>
<ion-content class="ion-padding">
  <ng-container [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-type [question]="currentQuestion" [formGroup]="formGroup" *ngIf="getType() !== 'Tabla'"></app-type>
    <app-table [question]="currentQuestion" [formGroup]="formGroup" *ngIf="getType() === 'Tabla'"></app-table>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isFirstQuestion()">
      <ion-button (click)="previousQuestion()">
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="formGroup.valid">
      <ion-button (click)="onSubmit()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isLastQuestion()">
      <ion-button (click)="nextQuestion()">
        <ion-icon name="chevron-forward-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
