<ion-item lines="none" *ngFor="let phone of phones">
  <ion-input
    [disabled]="disabled"
    type="tel"
    [value]="getValue(phone.order)"
    (ionChange)="setValue($event, phone.order)"
    placeholder="Telefono {{ phone.order }}"
    [counter]="true"
    [minlength]="10"
    [maxlength]="10"
  />
  <ion-icon name="keypad" slot="start" />
</ion-item>

<div class="ion-padding-top">
  <ion-button [disabled]="disabled" fill="outline" (click)="addPhone()">
    Agregar
  </ion-button>
  <ion-button [disabled]="disabled || disabledRemoveButton" fill="outline" color="danger" (click)="removePhone()">
    Eliminar
  </ion-button>
</div>

<!-- <ion-fab slot="fixed" size="small">
  <ion-fab-button>
    <ion-icon name="list"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="addPhone()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="removePhone()">
      <ion-icon name="remove"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->
