<app-dataquest-header></app-dataquest-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Encuesta descargada el {{getForm().fechaDescarga}}</ion-card-subtitle>
      <ion-card-title>{{getForm().name}}</ion-card-title>
      <ion-card-subtitle>Proyecto iniciado el {{getForm().dateInit}} | Finaliza el {{getForm().dateEnd}}</ion-card-subtitle>
      <ion-card-subtitle>Total preguntas: {{getTotalQuestions()}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{getForm().description}}
    </ion-card-content>
    <ion-nav-link router-direction="forward" [component]="component">
      <ion-button fill="clear">Comenzar formulario</ion-button>
    </ion-nav-link>
  </ion-card>
</ion-content>
