<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card button="true" *ngFor="let form of forms" (click)="navigate(form)">
    <ion-card-header>
      <ion-card-title>{{form.name}}</ion-card-title>
      <ion-card-subtitle>Finaliza el {{form.dateEnd}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="showId">{{ form.questions[0].answers[0].value }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{form.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
